-@page_title = "My Rushes"
.row
  .col-sm-8
    -@rushes.each do |rush|
      .panel.panel-dark
        .panel-heading 
          %span.title= rush.name
        .panel-body
          %h4=rush.scheduled_at.to_s(:long_ordinal)
          %p=rush.description
          -if rush.user_rush(current_user).complete
            %h2 All done! Stay tuned for final scores!
          -else
            =link_to "Let's go!", rush, :class => 'btn btn-primary btn-space btn-lg'
  .col-sm-4
    .panel.panel-default
      .panel-heading
        %span.title All-time Leaderboard
      .panel-body
        .list-group
          -@cityrush_users.each do |user|
            -if user == current_user
              %a.list-group-item.active
                %span.badge=user.points
                =user.name
            -else
              %a.list-group-item
                %span.badge=user.points
                =user.name