-@page_title = @rush.name
.row
  .panel.panel-dark
    .panel-body
      =@rush.description
.row
  .panel.panel-default
    .panel-heading
      %span.title Your Next Location:
    .panel-body
      =link_to @rush.next_location(current_user).name, rush_location_path(@rush, @rush.next_location(current_user)), :class => 'btn btn-primary btn-space btn-lg'