-@page_title = @rush.name
.row
  =@rush.description
.row
  .panel.panel-default
    %h2 Your Next Location:
    =link_to @rush.next_location(current_user).name, rush_location_path(@rush, @rush.next_location(current_user))