%p#notice= notice

%p
  %b Name:
  = @rush.name
%p
  %b Scheduled at:
  = @rush.scheduled_at

-@rush.locations.each do |location|
  =link_to location.name, rush_location_path(@rush, location)
= link_to 'Back', rushes_path
