@charset "UTF-8";

@import "vendor/theme.css";
@import "vendor/nanoscroller.css";
@import "stroke-seven";
.navbar-brand {background:image-url('logo-bug.png')}
.text-logo {
  display:inline-block;
  img {
    margin-top:15px;
    margin-left:15px;
  }
}