@charset "UTF-8";

@import "vendor/theme";
@import "vendor/nanoscroller";
@import "stroke-seven";
.navbar-brand {background:image-url('logo-bug.png')}
.text-logo {
  display:inline-block;
  img {
    margin-top:15px;
    margin-left:15px;
  }
}
#checkin_submit {width:100%;}